<h1><marquee> Viscosity Online Calculator</marquee></h1>
<img src ="assets/image1.jpg">
<p> viscosity, resistance of a fluid (liquid or gas) to a change in shape,<br> or movement of neighbouring portions relative to one another. <br>Viscosity denotes opposition to flow. <br>The reciprocal of the viscosity is called the fluidity, <br>a measure of the ease of flow. Molasses, <br>for example, has a greater viscosity than water.</p>
<table border="0">
    <tbody>
    <tr>
        <td><iframe width="560" height="315" src="https://www.youtube.com/embed/VvDJyhYSJv8?si=DJq1QaV_XKNXe_Qd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
        <td class="two"><iframe width="560" height="315" src="https://www.youtube.com/embed/wPk7_wm4uMs?si=CUdpuYwc7R3wFjyk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>

    </tr>
    </tbody>
</table>
<h2> Enter Your values</h2>

<form>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Enter your Change of Pressure Value </label>
        <input type="number" class="form-control" name="p_value" placeholder="P Value with 'Pa' Units" [(ngModel)]="p_value">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Enter your Radius of Vessel Value</label>
        <input type="number" class="form-control" name="r_value" placeholder="Radius Value with 'm' Units " [(ngModel)]="r_value">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Enter your Time Value</label>
      <input type="number" class="form-control" name="time_value" placeholder="Time Value with 's' Units" [(ngModel)]="time_value">
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Enter your Viscosity Constant Value</label>
        <input type="number" class="form-control" name="Constant_value" placeholder="Viscosity Constant Value with 'Pa.s' Units " [(ngModel)]="Constant_value">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Vessel Length</label>
        <input type="number" class="form-control" name="vessel_length" placeholder="Vessel Length with 'm' Units" [(ngModel)]="vessel_length">
      </div>
    </div>
    <div class="form-group">
     
    </div>
    <button type="button" class="btn btn-primary" (click)="Answer()">Get Result</button><br>
       
  </form>

  <p class="Answer">Result of Volume in Vessel : {{result}} m^3  </p>

  <img src="assets/Viscosity_Banner.png">